:root {
    --white: #fff;
    --gray: #183153;
    --dark: #343a40;
    --light: #f8f9fa;
    --light-gray: #c2c7d0;
    --dark-theme: #001e42;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-weight: 400;
    line-height: 1.5;
    color: var(--light);
    text-align: left;
}

main {
    height: 100vh;
    display: flex;
    overflow: hidden;
}

.login-image {
    width: 70%;
}

.login-image img {
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.login-form {
    width: 30%;

}

.login-form .card {
    background-color: #042b59;
    box-shadow: 0 0px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.24);
    border: none;
    height: 100%;
    border-radius: 0;
}

.login-form .card-header {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}

.login-form img {
    max-width: 200px;
}

.login-form .card-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


label {
    margin-bottom: 5px;
}

.login-form .form-group {
    margin-bottom: 1rem;
}

.login-form .form-control {
    background-color: var(--dark-theme);
    padding: .5rem;
    margin-bottom: .5rem;
    border: 1px solid #ced4da3b;
    color: var(--light);
}

.submit-btn {
    color: var(--light);
    font-weight: 600;
    border-color: #042b59;
    background-color: var(--bs-green);
}

.form-control:focus {
    color: var(--light);
    background-color: var(--dark-theme);
    border-color: #042b59;
    outline: 0;
    box-shadow: none;
}

@media (max-width:576px) {
    .login-image {
        width: 0%;
    }

    .login-image img {
        display: none;
    }

    .login-form {
        width: 100%;
    }
}
