  ul#menuBuilder,
  .nested {
      min-height: 30px;
      list-style-type: none;
      padding-left: 0;
  }

  .menu-item {
      cursor: grab;
      background-color: #fff;
  }

  .menu-item:hover {
      background-color: #f8f9fa;
  }

  ul.nested {
      padding-left: 1.5rem !important;
  }

  .custom-menu-container {
      height: 150px;
      overflow: auto;
  }
